In [4]:
import pandas as pd
import numpy as np
import os

In [7]:
# change working directory
os.chdir(os.getcwd())

In [26]:
# set up the dictionary: key = df variable name / value = actual file name
df_dict = {
    'unemployment_rate': 'UNRATE.csv',
    'gdp': 'GDP.csv',
    'int_rate': 'FEDFUNDS.csv',
    'cpi': 'CPALTT01USM657N.csv',
    'fed_asset': 'D2WATAL.csv'
}

for df_name, csv_name in df_dict.items():
    # set up df
    df_name = pd.read_csv(csv_name)
    # convert the date columns from datatype = object, to datatype = datetime
    df_name['DATE'] = pd.to_datetime(df_name['DATE'])
    #print(df_name.dtypes)
    #print(df_name.head)
    #print('='*40)

DATE      datetime64[ns]
UNRATE           float64
dtype: object
<bound method NDFrame.head of           DATE  UNRATE
0   1998-01-01     4.6
1   1998-02-01     4.6
2   1998-03-01     4.7
3   1998-04-01     4.3
4   1998-05-01     4.4
..         ...     ...
288 2022-01-01     4.0
289 2022-02-01     3.8
290 2022-03-01     3.6
291 2022-04-01     3.6
292 2022-05-01     3.6

[293 rows x 2 columns]>
========================================
DATE    datetime64[ns]
GDP            float64
dtype: object
<bound method NDFrame.head of          DATE        GDP
0  1998-01-01   8866.480
1  1998-04-01   8969.699
2  1998-07-01   9121.097
3  1998-10-01   9293.991
4  1999-01-01   9411.682
..        ...        ...
92 2021-01-01  22038.226
93 2021-04-01  22740.959
94 2021-07-01  23202.344
95 2021-10-01  24002.815
96 2022-01-01  24384.289

[97 rows x 2 columns]>
========================================
DATE        datetime64[ns]
FEDFUNDS           float64
dtype: object
<bound method NDFrame.head of           DATE  FEDFUNDS
0   1998-01-01      5.56
1   1998-02-01      5.51
2   1998-03-01      5.49
3   1998-04-01      5.45
4   1998-05-01      5.49
..         ...       ...
288 2022-01-01      0.08
289 2022-02-01      0.08
290 2022-03-01      0.20
291 2022-04-01      0.33
292 2022-05-01      0.77

[293 rows x 2 columns]>
========================================
DATE               datetime64[ns]
CPALTT01USM657N           float64
dtype: object
<bound method NDFrame.head of           DATE  CPALTT01USM657N
0   1998-01-01         0.185989
1   1998-02-01         0.185644
2   1998-03-01         0.185300
3   1998-04-01         0.184957
4   1998-05-01         0.184615
..         ...              ...
288 2022-01-01         0.841457
289 2022-02-01         0.913398
290 2022-03-01         1.335138
291 2022-04-01         0.558253
292 2022-05-01         1.102352

[293 rows x 2 columns]>
========================================
DATE       datetime64[ns]
D2WATAL           float64
dtype: object
<bound method NDFrame.head of            DATE    D2WATAL
0    2002-12-18   325839.0
1    2002-12-25   329097.0
2    2003-01-01   330963.0
3    2003-01-08   332673.0
4    2003-01-15   330741.0
...         ...        ...
1014 2022-05-25  4869185.0
1015 2022-06-01  4821768.0
1016 2022-06-08  4831558.0
1017 2022-06-15  4827116.0
1018 2022-06-22  4828795.0

[1019 rows x 2 columns]>
========================================