In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# change working directory
os.chdir(os.getcwd())

In [3]:
# set up the dictionary: key = df variable name / value = actual file name
df_dict = {
    'unemployment_rate': 'UNRATE.csv',
    'gdp': 'GDP.csv',
    'int_rate': 'FEDFUNDS.csv',
    'cpi': 'CPALTT01USM657N.csv',
    'fed_asset': 'D2WATAL.csv'
}

In [5]:
def setup_df(df_dict):
    
    df_check = False

    for df_name, csv_name in df_dict.items():
        # set up df
        df_name = pd.read_csv('./data/'+csv_name)
        # convert the date columns from datatype = object, to datatype = datetime
        df_name['DATE'] = pd.to_datetime(df_name['DATE'])
        if df_check is False:
            df = df_name
            df_check = True
        else:
            df = pd.merge(df, df_name, how='outer', on='DATE')
    
    cols = ['Year', 'Month', 'Day']
    cols.extend(df.columns.tolist())
    df['Day'] = df['DATE'].dt.day
    df['Month'] = df['DATE'].dt.month
    df['Year'] = df['DATE'].dt.year
    df.sort_values(by=['DATE'], inplace=True)
    df = df.reindex(columns=cols)
    df.drop(['DATE'], axis=1, inplace=True)
    #df.sort_values(by=['Year', 'Month', 'Day'], axis=1, inplace=True)
    return df

def export_df(df, csv_name='collated_data.csv'):
    df.to_csv(csv_name, index=False)
    return

In [6]:
df = setup_df(df_dict)

In [7]:
df

      Year  Month  Day  UNRATE       GDP  FEDFUNDS  CPALTT01USM657N    D2WATAL
0     1998      1    1     4.6  8866.480      5.56         0.185989        NaN
1     1998      2    1     4.6       NaN      5.51         0.185644        NaN
2     1998      3    1     4.7       NaN      5.49         0.185300        NaN
3     1998      4    1     4.3  8969.699      5.45         0.184957        NaN
4     1998      5    1     4.4       NaN      5.49         0.184615        NaN
...    ...    ...  ...     ...       ...       ...              ...        ...
1274  2022      5   25     NaN       NaN       NaN              NaN  4869185.0
1275  2022      6    1     NaN       NaN       NaN              NaN  4821768.0
1276  2022      6    8     NaN       NaN       NaN              NaN  4831558.0
1277  2022      6   15     NaN       NaN       NaN              NaN  4827116.0
1278  2022      6   22     NaN       NaN       NaN              NaN  4828795.0

[1279 rows x 8 columns]